# Understanding Hired Rides in NYC

_[Project prompt](https://docs.google.com/document/d/1VERPjEZcC1XSs4-02aM-DbkNr_yaJVbFjLJxaYQswqA/edit#)_

_This scaffolding notebook may be used to help setup your final project. It's **totally optional** whether you make use of this or not._

_If you do use this notebook, everything provided is optional as well - you may remove or add prose and code as you wish._

_Anything in italics (prose) or comments (in code) is meant to provide you with guidance. **Remove the italic lines and provided comments** before submitting the project, if you choose to use this scaffolding. We don't need the guidance when grading._

_**All code below should be consider "pseudo-code" - not functional by itself, and only a suggestion at the approach.**_

## Requirements

_A checklist of requirements to keep you on track. Remove this whole cell before submitting the project._

* Code clarity: make sure the code conforms to:
    * [ ] [PEP 8](https://peps.python.org/pep-0008/) - You might find [this resource](https://realpython.com/python-pep8/) helpful as well as [this](https://github.com/dnanhkhoa/nb_black) or [this](https://jupyterlab-code-formatter.readthedocs.io/en/latest/) tool
    * [ ] [PEP 257](https://peps.python.org/pep-0257/)
    * [ ] Break each task down into logical functions
* The following files are submitted for the project (see the project's GDoc for more details):
    * [ ] `README.md`
    * [ ] `requirements.txt`
    * [ ] `.gitignore`
    * [ ] `schema.sql`
    * [ ] 6 query files (using the `.sql` extension), appropriately named for the purpose of the query
    * [x] Jupyter Notebook containing the project (this file!)
* [x] You can edit this cell and add a `x` inside the `[ ]` like this task to denote a completed task

## Project Setup

In [1]:
# all import statements needed for the project, for example:

import math

import bs4
import matplotlib.pyplot as plt
import pandas as pd
import geopandas as gpd
import requests
import sqlalchemy as db
import re
import os
import glob

In [2]:
# any constants you might need, for example:

TAXI_URL = "https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page"
TAXI_ZONES = "taxi_zones/taxi_zones.shp"
# add other constants to refer to any local data, e.g. uber & weather
UBER_CSV = "uber/uber_rides_sample.csv"
WEATHER_PATH = "weather"


NEW_YORK_BOX_COORDS = ((40.560445, -74.242330), (40.908524, -73.717047))

DATABASE_URL = "sqlite:///project.db"
DATABASE_SCHEMA_FILE = "schema.sql"
QUERY_DIRECTORY = "queries"

## Part 1: Data Preprocessing

_A checklist of requirements to keep you on track. Remove this whole cell before submitting the project. The order of these tasks aren't necessarily the order in which they need to be done. It's okay to do them in an order that makes sense to you._

* [ ] Define a function that calculates the distance between two coordinates in kilometers that **only uses the `math` module** from the standard library.
* [ ] Taxi data:
    * [ ] Use the `re` module, and the packages `requests`, BeautifulSoup (`bs4`), and (optionally) `pandas` to programmatically download the required CSV files & load into memory.
    * You may need to do this one file at a time - download, clean, sample. You can cache the sampling by saving it as a CSV file (and thereby freeing up memory on your computer) before moving onto the next file. 
* [ ] Weather & Uber data:
    * [ ] Download the data manually in the link provided in the project doc.
* [ ] All data:
    * [ ] Load the data using `pandas`
    * [ ] Clean the data, including:
        * Remove unnecessary columns
        * Remove invalid data points (take a moment to consider what's invalid)
        * Normalize column names
        * (Taxi & Uber data) Remove trips that start and/or end outside the designated [coordinate box](http://bboxfinder.com/#40.560445,-74.242330,40.908524,-73.717047)
    * [ ] (Taxi data) Sample the data so that you have roughly the same amount of data points over the given date range for both Taxi data and Uber data.
* [ ] Weather data:
    * [ ] Split into two `pandas` DataFrames: one for required hourly data, and one for the required daily daya.
    * [ ] You may find that the weather data you need later on does not exist at the frequency needed (daily vs hourly). You may calculate/generate samples from one to populate the other. Just document what youâ€™re doing so we can follow along.

### Calculating distance
_**TODO:** Write some prose that tells the reader what you're about to do here._

In [3]:
def calculate_distance(from_coord, to_coord):
    # convert longitude and latitude to radian
    lon1, lat1, lon2, lat2 = map(math.radians, from_coord+to_coord) 
    dlon=lon2-lon1
    dlat=lat2-lat1
    a=math.sin(dlat/2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon/2)**2
    distance=2*math.asin(math.sqrt(a))*6371*1000
    distance=round(distance/1000,3)
    return distance

In [4]:
def add_distance_column(dataframe):
    dataframe['distance'] = dataframe.apply(lambda x: calculate_distance((
        x['pickup_longitude'], x['pickup_latitude']), (x['dropoff_longitude'], x['dropoff_latitude'])), axis=1)
    return dataframe

### Processing Taxi Data

_**TODO:** Write some prose that tells the reader what you're about to do here._

In [5]:
def find_taxi_parquet_urls(taxi_url):
    response = requests.get(taxi_url)
    html = response.content
    results_page = bs4.BeautifulSoup(html, 'html.parser')
    links = results_page.find_all('a',title=r'Yellow Taxi Trip Records')
    pattern = r'yellow_tripdata_(2009|201[0-4]|2015-0[1-6])'
    urls = [link.get('href') for link in links if re.search(pattern,link.get('href'))]
    return urls

In [6]:
def get_month_taxi_data(taxi_data_url):
    pattern = r'yellow_tripdata_[0-9]{4}-[0-9]{2}'
    name = re.search(pattern,taxi_data_url).group()
    path = os.path.join(os.getcwd(),'taxi',name+'.csv')
    if os.path.exists(path):
        print('read',name)
        df = pd.read_csv(path)
    else:
        print('download',name)
        df = pd.read_parquet(taxi_data_url, engine='pyarrow')
        df.to_csv(path)
    return df

In [7]:
def clean_month_taxi_data(taxi_data,taxi_zones):
    taxi_data = taxi_data[['tpep_pickup_datetime', 'PULocationID', 'DOLocationID']]
    taxi_data = taxi_data.rename(columns={'tpep_pickup_datetime': 'pickup_datetime'})
    taxi_data['pickup_datetime'] = pd.to_datetime(taxi_data['pickup_datetime'])
    taxi_data = taxi_data.dropna()
    taxi_data = taxi_data.merge(taxi_zones[['LocationID','lat','lon']].set_index('LocationID'),
                                left_on='PULocationID', right_on='LocationID')
    taxi_data = taxi_data.rename(columns={'lat': 'pickup_latitude', 'lon': 'pickup_longitude'})
    taxi_data = taxi_data.merge(taxi_zones[['LocationID','lat','lon']].set_index('LocationID'),
                                left_on='DOLocationID', right_on='LocationID')
    taxi_data = taxi_data.rename(columns={'lat': 'dropoff_latitude', 'lon': 'dropoff_longitude'})
    
    taxi_data = taxi_data.drop(columns=['PULocationID','DOLocationID'])
    
    #pick up in bounding box 
    taxi_data = taxi_data[(taxi_data['pickup_longitude']>NEW_YORK_BOX_COORDS[0][1])
                          & (taxi_data['pickup_longitude']<NEW_YORK_BOX_COORDS[1][1])]
    taxi_data = taxi_data[(taxi_data['pickup_latitude']>NEW_YORK_BOX_COORDS[0][0])
                          & (taxi_data['pickup_latitude']<NEW_YORK_BOX_COORDS[1][0])]
    #drop off in bounding box  
    taxi_data = taxi_data[(taxi_data['dropoff_longitude']>NEW_YORK_BOX_COORDS[0][1])
                          & (taxi_data['dropoff_longitude']<NEW_YORK_BOX_COORDS[1][1])]
    taxi_data = taxi_data[(taxi_data['dropoff_latitude']>NEW_YORK_BOX_COORDS[0][0])
                          & (taxi_data['dropoff_latitude']<NEW_YORK_BOX_COORDS[1][0])]
    
    return taxi_data

In [8]:
def get_and_clean_taxi_data():
    all_csv_urls = find_taxi_parquet_urls(TAXI_URL)
    taxi_zone_df = gpd.read_file(TAXI_ZONES)
    taxi_zone_df = taxi_zone_df.to_crs(4326)
    taxi_zone_df['lon'] = taxi_zone_df.centroid.x  
    taxi_zone_df['lat'] = taxi_zone_df.centroid.y
    all_taxi_dataframes = []
    for csv_url in all_csv_urls[:10]:
        month_taxi_dataframe = get_month_taxi_data(csv_url)
        month_taxi_dataframe = clean_month_taxi_data(month_taxi_dataframe,taxi_zone_df)
        month_taxi_dataframe = add_distance_column(month_taxi_dataframe)
        all_taxi_dataframes.append(month_taxi_dataframe.sample(23800,random_state=1))
        
    # create one gigantic dataframe with data from every month needed
    all_taxi_data = pd.concat(all_taxi_dataframes)
    return all_taxi_data

In [9]:
taxi_data = get_and_clean_taxi_data()
taxi_data

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_15184\1927979818.py:5: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  taxi_zone_df['lon'] = taxi_zone_df.centroid.x
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_15184\1927979818.py:6: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  taxi_zone_df['lat'] = taxi_zone_df.centroid.y

read yellow_tripdata_2015-01
read yellow_tripdata_2015-02
read yellow_tripdata_2015-03
read yellow_tripdata_2015-04
read yellow_tripdata_2015-05
read yellow_tripdata_2015-06
read yellow_tripdata_2014-01
read yellow_tripdata_2014-02
read yellow_tripdata_2014-03
read yellow_tripdata_2014-04

,pickup_datetime,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,distance
4333075,2015-01-24 00:14:16,40.778766,-73.951010,40.765484,-73.954739,1.510
10039298,2015-01-10 23:59:49,40.753513,-73.988787,40.766238,-73.995135,1.513
4436004,2015-01-09 22:10:29,40.740337,-73.990458,40.765484,-73.954739,4.107
3655415,2015-01-17 12:32:07,40.764421,-73.977569,40.768615,-73.965635,1.108
8988016,2015-01-01 19:01:38,40.780436,-73.957012,40.756729,-73.965146,2.724
...,...,...,...,...,...,...
10528786,2014-04-19 23:07:00,40.762253,-73.989845,40.761493,-73.919694,5.909
12528839,2014-04-30 14:16:00,40.717773,-74.007880,40.756688,-73.972356,5.261
2950703,2014-04-18 13:25:01,40.709139,-74.013023,40.717773,-74.007880,1.053
8177215,2014-04-08 12:46:00,40.748497,-73.992438,40.736824,-73.984052,1.478
142271,2014-04-08 21:28:18,40.756688,-73.972356,40.764421,-73.977569,0.966

### Processing Uber Data

_**TODO:** Write some prose that tells the reader what you're about to do here._

In [10]:
def clean_uber_data(csv_file):
    uber_data = pd.read_csv(csv_file)
    uber_data = uber_data.drop(columns=['Unnamed: 0','key','fare_amount','passenger_count'])
    uber_data = uber_data.dropna()
    
    #pick up in bounding box 
    uber_data = uber_data[(uber_data['pickup_longitude']>NEW_YORK_BOX_COORDS[0][1]) & (uber_data['pickup_longitude']<NEW_YORK_BOX_COORDS[1][1])]
    uber_data = uber_data[(uber_data['pickup_latitude']>NEW_YORK_BOX_COORDS[0][0]) & (uber_data['pickup_latitude']<NEW_YORK_BOX_COORDS[1][0])]
    #drop off in bounding box  
    uber_data = uber_data[(uber_data['dropoff_longitude']>NEW_YORK_BOX_COORDS[0][1]) & (uber_data['dropoff_longitude']<NEW_YORK_BOX_COORDS[1][1])]
    uber_data = uber_data[(uber_data['dropoff_latitude']>NEW_YORK_BOX_COORDS[0][0]) & (uber_data['dropoff_latitude']<NEW_YORK_BOX_COORDS[1][0])]
    uber_data['pickup_datetime'] = pd.to_datetime(uber_data['pickup_datetime'])
    
    return uber_data

In [11]:
def get_uber_data():
    uber_dataframe = clean_uber_data(UBER_CSV)
    uber_dataframe = add_distance_column(uber_dataframe)
    return uber_dataframe

In [12]:
uber_data = get_uber_data()
uber_data

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,distance
0,2015-05-07 19:52:06+00:00,-73.999817,40.738354,-73.999512,40.723217,1.683
1,2009-07-17 20:04:56+00:00,-73.994355,40.728225,-73.994710,40.750325,2.458
2,2009-08-24 21:45:00+00:00,-74.005043,40.740770,-73.962565,40.772647,5.036
3,2009-06-26 08:22:21+00:00,-73.976124,40.790844,-73.965316,40.803349,1.662
4,2014-08-28 17:47:00+00:00,-73.925023,40.744085,-73.973082,40.761247,4.475
...,...,...,...,...,...,...
199995,2012-10-28 10:49:00+00:00,-73.987042,40.739367,-73.986525,40.740297,0.112
199996,2014-03-14 01:09:00+00:00,-73.984722,40.736837,-74.006672,40.739620,1.875
199997,2009-06-29 00:42:00+00:00,-73.986017,40.756487,-73.858957,40.692588,12.850
199998,2015-05-20 14:56:25+00:00,-73.997124,40.725452,-73.983215,40.695415,3.540
199999,2010-05-15 04:08:00+00:00,-73.984395,40.720077,-73.985508,40.768793,5.418

### Processing Weather Data

_**TODO:** Write some prose that tells the reader what you're about to do here._

In [13]:
def clean_month_weather_data_hourly(csv_file):
    whole_data = pd.read_csv(csv_file)
    whole_data['REPORT_TYPE'] = whole_data['REPORT_TYPE'].astype(str)
    whole_data['DATE'] = pd.to_datetime(whole_data['DATE'])
    
    hourly_data = whole_data[whole_data['REPORT_TYPE'] != 'SOD  ']
    hourly_data = hourly_data[['DATE','HourlyPrecipitation','HourlyWindSpeed']]
    hourly_data['HourlyPrecipitation'] = pd.to_numeric(hourly_data['HourlyPrecipitation'], errors='coerce')
    hourly_data['HourlyWindSpeed'] = pd.to_numeric(hourly_data['HourlyWindSpeed'], errors='coerce')
    hourly_data['HourlyPrecipitation'].fillna(0, inplace=True)
    hourly_data['HourlyWindSpeed'].fillna(0, inplace=True)
    hourly_data = hourly_data.rename(columns={'DATE': 'datetime'})
    hourly_data = hourly_data.rename(columns={'HourlyPrecipitation':'hourly_precipitation','HourlyWindSpeed':'hourly_wind_speed'})
    
    return hourly_data

In [14]:
def clean_month_weather_data_daily(csv_file):
    whole_data = pd.read_csv(csv_file)
    whole_data['REPORT_TYPE'] = whole_data['REPORT_TYPE'].astype(str)
    whole_data['DATE'] = pd.to_datetime(whole_data['DATE'])
    whole_data['DATE'] = whole_data['DATE'].dt.date
    
    hourly_data = whole_data[whole_data['REPORT_TYPE'] != 'SOD  ']
    hourly_data = hourly_data[['DATE','HourlyPrecipitation','HourlyWindSpeed']]
    hourly_data['HourlyPrecipitation'] = pd.to_numeric(hourly_data['HourlyPrecipitation'], errors='coerce')
    hourly_data['HourlyWindSpeed'] = pd.to_numeric(hourly_data['HourlyWindSpeed'], errors='coerce')
    hourly_data['HourlyPrecipitation'].fillna(0, inplace=True)
    hourly_data = hourly_data.groupby('DATE', as_index=False).agg({'HourlyWindSpeed': 'mean', 'HourlyPrecipitation': 'sum'})
    
    daily_data = whole_data[whole_data['REPORT_TYPE'] == 'SOD  ']
    daily_data = daily_data[['DATE','Sunrise','Sunset']]
    daily_data['Sunrise'] = pd.to_numeric(daily_data['Sunrise'], errors='coerce')
    daily_data['Sunset'] = pd.to_numeric(daily_data['Sunset'], errors='coerce')
    
    daily_data = hourly_data.merge(daily_data, on='DATE',how='left')
    daily_data.fillna(method='ffill',inplace=True)
    daily_data.fillna(method='bfill',inplace=True)
    daily_data = daily_data.rename(columns={'DATE': 'date'})
    daily_data = daily_data.rename(columns={'HourlyPrecipitation':'daily_precipitation', 'HourlyWindSpeed':'daily_wind_speed'})
    daily_data = daily_data.rename(columns={'Sunrise': 'sunrise', 'Sunset': 'sunset'})
    
    return daily_data

In [15]:
def load_and_clean_weather_data():
    hourly_dataframes = []
    daily_dataframes = []
    
    weather_csv_files = glob.glob(os.path.join(os.getcwd(), WEATHER_PATH, "*.csv"))
    
    for csv_file in weather_csv_files:
        hourly_dataframe = clean_month_weather_data_hourly(csv_file)
        daily_dataframe = clean_month_weather_data_daily(csv_file)
        hourly_dataframes.append(hourly_dataframe)
        daily_dataframes.append(daily_dataframe)
        
    # create two dataframes with hourly & daily data from every month
    hourly_data = pd.concat(hourly_dataframes)
    daily_data = pd.concat(daily_dataframes)
    
    return hourly_data, daily_data

In [16]:
hourly_weather_data, daily_weather_data = load_and_clean_weather_data()
hourly_weather_data

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_15184\156112435.py:2: DtypeWarning: Columns (9,13) have mixed types. Specify dtype option on import or set low_memory=False.
  whole_data = pd.read_csv(csv_file)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_15184\2991833665.py:2: DtypeWarning: Columns (9,13) have mixed types. Specify dtype option on import or set low_memory=False.
  whole_data = pd.read_csv(csv_file)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_15184\156112435.py:2: DtypeWarning: Columns (8,9,10,17) have mixed types. Specify dtype option on import or set low_memory=False.
  whole_data = pd.read_csv(csv_file)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_15184\2991833665.py:2: DtypeWarning: Columns (8,9,10,17) have mixed types. Specify dtype option on import or set low_memory=False.
  whole_data = pd.read_csv(csv_file)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_15184\156112435.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  whole_data = pd.read_csv(csv_file)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_15184\2991833665.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  whole_data = pd.read_csv(csv_file)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_15184\156112435.py:2: DtypeWarning: Columns (7,8,9,10,17,18,42,65) have mixed types. Specify dtype option on import or set low_memory=False.
  whole_data = pd.read_csv(csv_file)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_15184\2991833665.py:2: DtypeWarning: Columns (7,8,9,10,17,18,42,65) have mixed types. Specify dtype option on import or set low_memory=False.
  whole_data = pd.read_csv(csv_file)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_15184\156112435.py:2: DtypeWarning: Columns (17,78) have mixed types. Specify dtype option on import or set low_memory=False.
  whole_data = pd.read_csv(csv_file)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_15184\2991833665.py:2: DtypeWarning: Columns (17,78) have mixed types. Specify dtype option on import or set low_memory=False.
  whole_data = pd.read_csv(csv_file)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_15184\156112435.py:2: DtypeWarning: Columns (8,9,17,18,78) have mixed types. Specify dtype option on import or set low_memory=False.
  whole_data = pd.read_csv(csv_file)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_15184\2991833665.py:2: DtypeWarning: Columns (8,9,17,18,78) have mixed types. Specify dtype option on import or set low_memory=False.
  whole_data = pd.read_csv(csv_file)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_15184\156112435.py:2: DtypeWarning: Columns (10,41,78) have mixed types. Specify dtype option on import or set low_memory=False.
  whole_data = pd.read_csv(csv_file)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_15184\2991833665.py:2: DtypeWarning: Columns (10,41,78) have mixed types. Specify dtype option on import or set low_memory=False.
  whole_data = pd.read_csv(csv_file)

                 datetime  hourly_precipitation  hourly_wind_speed
0     2009-01-01 00:51:00                   0.0               18.0
1     2009-01-01 01:51:00                   0.0               18.0
2     2009-01-01 02:51:00                   0.0               18.0
3     2009-01-01 03:51:00                   0.0                8.0
4     2009-01-01 04:51:00                   0.0               11.0
...                   ...                   ...                ...
11381 2015-12-31 20:51:00                   0.0               10.0
11382 2015-12-31 21:51:00                   0.0                0.0
11383 2015-12-31 22:51:00                   0.0                7.0
11384 2015-12-31 23:51:00                   0.0                5.0
11386 2015-12-31 23:59:00                   0.0                0.0

[76146 rows x 3 columns]

In [17]:
daily_weather_data

           date  daily_wind_speed  daily_precipitation  sunrise  sunset
0    2009-01-01         11.041667                 0.00    720.0  1640.0
1    2009-01-02          6.806452                 0.00    720.0  1640.0
2    2009-01-03          9.875000                 0.00    720.0  1640.0
3    2009-01-04          7.370370                 0.00    720.0  1640.0
4    2009-01-05          6.925926                 0.00    720.0  1640.0
..          ...               ...                  ...      ...     ...
360  2015-12-27          4.911111                 0.17    719.0  1635.0
361  2015-12-28          8.208333                 0.03    719.0  1636.0
362  2015-12-29          7.787234                 0.93    720.0  1636.0
363  2015-12-30          4.184211                 0.29    720.0  1637.0
364  2015-12-31          4.741935                 0.08    720.0  1638.0

[2551 rows x 5 columns]

In [18]:
taxi_data

,pickup_datetime,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,distance
4333075,2015-01-24 00:14:16,40.778766,-73.951010,40.765484,-73.954739,1.510
10039298,2015-01-10 23:59:49,40.753513,-73.988787,40.766238,-73.995135,1.513
4436004,2015-01-09 22:10:29,40.740337,-73.990458,40.765484,-73.954739,4.107
3655415,2015-01-17 12:32:07,40.764421,-73.977569,40.768615,-73.965635,1.108
8988016,2015-01-01 19:01:38,40.780436,-73.957012,40.756729,-73.965146,2.724
...,...,...,...,...,...,...
10528786,2014-04-19 23:07:00,40.762253,-73.989845,40.761493,-73.919694,5.909
12528839,2014-04-30 14:16:00,40.717773,-74.007880,40.756688,-73.972356,5.261
2950703,2014-04-18 13:25:01,40.709139,-74.013023,40.717773,-74.007880,1.053
8177215,2014-04-08 12:46:00,40.748497,-73.992438,40.736824,-73.984052,1.478
142271,2014-04-08 21:28:18,40.756688,-73.972356,40.764421,-73.977569,0.966

In [19]:
uber_data

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,distance
0,2015-05-07 19:52:06+00:00,-73.999817,40.738354,-73.999512,40.723217,1.683
1,2009-07-17 20:04:56+00:00,-73.994355,40.728225,-73.994710,40.750325,2.458
2,2009-08-24 21:45:00+00:00,-74.005043,40.740770,-73.962565,40.772647,5.036
3,2009-06-26 08:22:21+00:00,-73.976124,40.790844,-73.965316,40.803349,1.662
4,2014-08-28 17:47:00+00:00,-73.925023,40.744085,-73.973082,40.761247,4.475
...,...,...,...,...,...,...
199995,2012-10-28 10:49:00+00:00,-73.987042,40.739367,-73.986525,40.740297,0.112
199996,2014-03-14 01:09:00+00:00,-73.984722,40.736837,-74.006672,40.739620,1.875
199997,2009-06-29 00:42:00+00:00,-73.986017,40.756487,-73.858957,40.692588,12.850
199998,2015-05-20 14:56:25+00:00,-73.997124,40.725452,-73.983215,40.695415,3.540
199999,2010-05-15 04:08:00+00:00,-73.984395,40.720077,-73.985508,40.768793,5.418

### Process All Data

_This is where you can actually execute all the required functions._

_**TODO:** Write some prose that tells the reader what you're about to do here._

In [20]:
taxi_data = get_and_clean_taxi_data()
uber_data = get_uber_data()
hourly_weather_data, daily_weather_data = load_and_clean_weather_data()

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_15184\1927979818.py:5: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  taxi_zone_df['lon'] = taxi_zone_df.centroid.x
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_15184\1927979818.py:6: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  taxi_zone_df['lat'] = taxi_zone_df.centroid.y

read yellow_tripdata_2015-01
read yellow_tripdata_2015-02

KeyboardInterrupt:

## Part 2: Storing Cleaned Data

_Write some prose that tells the reader what you're about to do here._

In [21]:
engine = db.create_engine(DATABASE_URL)

In [22]:
# if using SQL (as opposed to SQLAlchemy), define the commands 
# to create your 4 tables/dataframes
HOURLY_WEATHER_SCHEMA = """
CREATE TABLE IF NOT EXISTS hourly_weather
(
    id INTEGER PRIMARY KEY,
    datetime DATETIME,
    hourly_precipitation FLOAT,
    hourly_wind_speed FLOAT
);
"""

DAILY_WEATHER_SCHEMA = """
CREATE TABLE IF NOT EXISTS daily_weather
(
    id INTEGER PRIMARY KEY,
    date DATE,
    daily_wind_speed FLOAT,
    daily_precipitation FLOAT,
    sunrise INT32,
    sunset INT32
);
"""

TAXI_TRIPS_SCHEMA = """
CREATE TABLE IF NOT EXISTS taxi_trips
(
    id INTEGER PRIMARY KEY,
    pickup_datetime DATETIME,
    pickup_longitude FLOAT,
    pickup_latitude FLOAT,
    dropoff_longitude FLOAT,
    dropoff_latitude FLOAT,
    distance FLOAT
);
"""

UBER_TRIPS_SCHEMA = """
CREATE TABLE IF NOT EXISTS uber_trips
(
    id INTEGER PRIMARY KEY,
    pickup_datetime DATETIME,
    pickup_longitude FLOAT,
    pickup_latitude FLOAT,
    dropoff_longitude FLOAT,
    dropoff_latitude FLOAT,
    distance FLOAT
);
"""

In [23]:
# create that required schema.sql file
with open(DATABASE_SCHEMA_FILE, "w") as f:
    f.write(HOURLY_WEATHER_SCHEMA)
    f.write(DAILY_WEATHER_SCHEMA)
    f.write(TAXI_TRIPS_SCHEMA)
    f.write(UBER_TRIPS_SCHEMA)

In [24]:
# create the tables with the schema files
with engine.connect() as connection:
    sql = open(DATABASE_SCHEMA_FILE, "r")
    commands = sql.read().split(";")
    sql.close()
    for command in commands:
        connection.execute(command)

### Add Data to Database

_**TODO:** Write some prose that tells the reader what you're about to do here._

In [25]:
def write_dataframes_to_table(table_to_df_dict):
    for name, table in table_to_df_dict.items():
        table.to_sql(name, engine, if_exists='replace', index=False)

In [26]:
map_table_name_to_dataframe = {
    "taxi_trips": taxi_data,
    "uber_trips": uber_data,
    "hourly_weather": hourly_weather_data,
    "daily_weather": daily_weather_data,
}

In [27]:
write_dataframes_to_table(map_table_name_to_dataframe)

## Part 3: Understanding the Data

_A checklist of requirements to keep you on track. Remove this whole cell before submitting the project. The order of these tasks aren't necessarily the order in which they need to be done. It's okay to do them in an order that makes sense to you._

* [ ] For 01-2009 through 06-2015, what hour of the day was the most popular to take a yellow taxi? The result should have 24 bins.
* [ ] For the same time frame, what day of the week was the most popular to take an uber? The result should have 7 bins.
* [ ] What is the 95% percentile of distance traveled for all hired trips during July 2013?
* [ ] What were the top 10 days with the highest number of hired rides for 2009, and what was the average distance for each day?
* [ ] Which 10 days in 2014 were the windiest, and how many hired trips were made on those days?
* [ ] During Hurricane Sandy in NYC (Oct 29-30, 2012) and the week leading up to it, how many trips were taken each hour, and for each hour, how much precipitation did NYC receive and what was the sustained wind speed?

In [28]:
def write_query_to_file(query, outfile):
    with open(outfile, "w") as f:
        f.write(query)

### Query N

_**TODO:** Write some prose that tells the reader what you're about to do here._

_Repeat for each query_

For 01-2009 through 06-2015, what hour of the day was the most popular to take a yellow taxi? The result should have 24 bins.

In [29]:
QUERY_1 = """
SELECT strftime('%H', pickup_datetime) AS time, COUNT(*) AS number
FROM taxi_trips
GROUP BY time
ORDER BY number DESC;
"""

In [30]:
engine.execute(QUERY_1).fetchall()

[('19', 14959),
 ('18', 14560),
 ('20', 14148),
 ('21', 13871),
 ('22', 13109),
 ('14', 11884),
 ('17', 11742),
 ('13', 11711),
 ('12', 11672),
 ('23', 11656),
 ('15', 11458),
 ('11', 11182),
 ('09', 11096),
 ('10', 10798),
 ('08', 10770),
 ('16', 9988),
 ('00', 9038),
 ('07', 8912),
 ('01', 6491),
 ('06', 5294),
 ('02', 5067),
 ('03', 3532),
 ('04', 2696),
 ('05', 2366)]

In [31]:
write_query_to_file(QUERY_1, "most_popular_hour.sql")

In [32]:
QUERY_2 = """
SELECT strftime('%w', pickup_datetime) AS day, COUNT(*) AS number
FROM uber_trips
GROUP BY day
ORDER BY number DESC;
"""

In [33]:
engine.execute(QUERY_2).fetchall()

[('5', 30166),
 ('6', 29599),
 ('4', 29338),
 ('3', 28328),
 ('2', 27526),
 ('0', 25834),
 ('1', 24681)]

In [34]:
write_query_to_file(QUERY_2, "most_popular_day.sql")

In [35]:
QUERY_3 = """
WITH hired_trips AS
(
    SELECT pickup_datetime, distance FROM taxi_trips 
    WHERE pickup_datetime BETWEEN '2013-07-01' AND '2013-08-01'
    UNION ALL
    SELECT pickup_datetime, distance FROM uber_trips
    WHERE pickup_datetime BETWEEN '2013-07-01' AND '2013-08-01'
)
SELECT distance
FROM hired_trips
ORDER BY distance
LIMIT 1
OFFSET (SELECT COUNT(*) FROM hired_trips) * 95 / 100 - 1 ;
"""

In [36]:
engine.execute(QUERY_3).fetchall()

[(10.231,)]

In [37]:
write_query_to_file(QUERY_3, "95%_percentile_distance.sql")

In [38]:
QUERY_4 = """
WITH hired_trips AS
(
    SELECT pickup_datetime, distance FROM taxi_trips 
    WHERE pickup_datetime BETWEEN '2009-01-01' AND '2010-01-01'
    UNION ALL
    SELECT pickup_datetime, distance FROM uber_trips
    WHERE pickup_datetime BETWEEN '2009-01-01' AND '2010-01-01'
)
SELECT DATE(pickup_datetime) AS date, COUNT(*) AS number, printf("%.4f",AVG(distance)) AS avg_distance
FROM hired_trips
GROUP BY date
ORDER BY number DESC
LIMIT 10;
"""

In [39]:
engine.execute(QUERY_4).fetchall()

[('2009-12-11', 127, '2.9759'),
 ('2009-10-23', 123, '2.4524'),
 ('2009-08-14', 119, '3.5486'),
 ('2009-04-18', 113, '3.3298'),
 ('2009-01-31', 112, '2.7920'),
 ('2009-07-09', 111, '3.4544'),
 ('2009-05-08', 111, '3.3112'),
 ('2009-03-19', 110, '3.2942'),
 ('2009-05-16', 109, '2.7727'),
 ('2009-07-23', 108, '3.6758')]

In [40]:
write_query_to_file(QUERY_4, "top_10_days.sql")

In [41]:
QUERY_5 = """
WITH hired_trips AS
(
    SELECT DATE(pickup_datetime) AS date FROM taxi_trips
    WHERE date BETWEEN '2014-01-01' AND '2015-01-01'
    UNION ALL
    SELECT DATE(pickup_datetime) AS date FROM uber_trips
    WHERE date BETWEEN '2014-01-01' AND '2015-01-01'
)
SELECT hired_trips.date as date, printf("%.4f",daily_wind_speed), COUNT(*) AS number
FROM hired_trips
JOIN daily_weather ON hired_trips.date = DATE(daily_weather.date)
GROUP BY hired_trips.date
ORDER BY daily_wind_speed DESC
LIMIT 10
"""

In [42]:
engine.execute(QUERY_5).fetchall()

[('2014-03-13', '14.0000', 955),
 ('2014-01-07', '13.0833', 915),
 ('2014-01-02', '12.7273', 681),
 ('2014-02-13', '12.2264', 682),
 ('2014-03-26', '11.9545', 862),
 ('2014-03-29', '11.9149', 1050),
 ('2014-12-07', '11.6000', 73),
 ('2014-12-09', '11.2692', 70),
 ('2014-12-08', '11.2667', 77),
 ('2014-11-02', '10.8261', 80)]

In [43]:
write_query_to_file(QUERY_5, "windiest_10_days.sql")

In [44]:
QUERY_6 = """
WITH hired_trips AS
(
    SELECT strftime('%Y-%m-%d %H',pickup_datetime) AS trip_hour FROM taxi_trips
    WHERE pickup_datetime BETWEEN '2012-10-22' AND '2012-10-31'
    UNION ALL
    SELECT strftime('%Y-%m-%d %H',pickup_datetime) AS trip_hour FROM uber_trips
    WHERE pickup_datetime BETWEEN '2012-10-22' AND '2012-10-31'
),
hurricane_weather AS
(
    SELECT strftime('%Y-%m-%d %H',datetime) AS weather_hour, hourly_precipitation, hourly_wind_speed FROM hourly_weather
    WHERE datetime BETWEEN '2012-10-22' AND '2012-10-31'
)
SELECT weather_hour, COALESCE(COUNT(trip_hour),0) AS number, hourly_precipitation, hourly_wind_speed
FROM hurricane_weather
LEFT JOIN hired_trips
ON trip_hour = weather_hour
GROUP BY weather_hour
"""

In [45]:
engine.execute(QUERY_6).fetchall()

[('2012-10-22 00', 2, 0.0, 7.0),
 ('2012-10-22 01', 0, 0.0, 5.0),
 ('2012-10-22 02', 1, 0.0, 7.0),
 ('2012-10-22 03', 1, 0.0, 0.0),
 ('2012-10-22 04', 0, 0.0, 0.0),
 ('2012-10-22 05', 1, 0.0, 0.0),
 ('2012-10-22 06', 3, 0.0, 5.0),
 ('2012-10-22 07', 5, 0.0, 3.0),
 ('2012-10-22 08', 1, 0.0, 3.0),
 ('2012-10-22 09', 5, 0.0, 5.0),
 ('2012-10-22 10', 3, 0.0, 0.0),
 ('2012-10-22 11', 8, 0.0, 0.0),
 ('2012-10-22 12', 5, 0.0, 11.0),
 ('2012-10-22 13', 8, 0.0, 0.0),
 ('2012-10-22 14', 1, 0.0, 7.0),
 ('2012-10-22 15', 1, 0.0, 6.0),
 ('2012-10-22 16', 6, 0.0, 3.0),
 ('2012-10-22 17', 4, 0.0, 7.0),
 ('2012-10-22 18', 8, 0.0, 5.0),
 ('2012-10-22 19', 2, 0.0, 5.0),
 ('2012-10-22 20', 4, 0.0, 3.0),
 ('2012-10-22 21', 1, 0.0, 0.0),
 ('2012-10-22 22', 6, 0.0, 3.0),
 ('2012-10-22 23', 0, 0.0, 3.0),
 ('2012-10-23 00', 2, 0.0, 3.0),
 ('2012-10-23 01', 1, 0.0, 0.0),
 ('2012-10-23 02', 0, 0.0, 3.0),
 ('2012-10-23 03', 0, 0.0, 0.0),
 ('2012-10-23 04', 0, 0.0, 3.0),
 ('2012-10-23 05', 2, 0.0, 0.0),
 ('2012-10-23 06', 2, 0.0, 0.0),
 ('2012-10-23 07', 7, 0.0, 0.0),
 ('2012-10-23 08', 8, 0.0, 0.0),
 ('2012-10-23 09', 5, 0.0, 3.0),
 ('2012-10-23 10', 7, 0.0, 0.0),
 ('2012-10-23 11', 6, 0.0, 3.0),
 ('2012-10-23 12', 1, 0.0, 0.0),
 ('2012-10-23 13', 5, 0.0, 0.0),
 ('2012-10-23 14', 8, 0.0, 0.0),
 ('2012-10-23 15', 4, 0.0, 0.0),
 ('2012-10-23 16', 1, 0.0, 3.0),
 ('2012-10-23 18', 5, 0.0, 5.0),
 ('2012-10-23 19', 2, 0.0, 0.0),
 ('2012-10-23 20', 8, 0.02, 0.0),
 ('2012-10-23 21', 4, 0.0, 5.0),
 ('2012-10-23 22', 6, 0.01, 0.0),
 ('2012-10-23 23', 3, 0.0, 5.0),
 ('2012-10-24 00', 0, 0.0, 3.0),
 ('2012-10-24 01', 0, 0.0, 6.0),
 ('2012-10-24 02', 16, 0.0, 5.0),
 ('2012-10-24 03', 0, 0.0, 7.0),
 ('2012-10-24 04', 0, 0.0, 7.0),
 ('2012-10-24 05', 2, 0.0, 6.0),
 ('2012-10-24 06', 0, 0.0, 5.0),
 ('2012-10-24 07', 3, 0.0, 5.0),
 ('2012-10-24 08', 2, 0.0, 0.0),
 ('2012-10-24 09', 8, 0.0, 0.0),
 ('2012-10-24 10', 2, 0.0, 7.0),
 ('2012-10-24 11', 4, 0.0, 7.0),
 ('2012-10-24 12', 9, 0.0, 8.0),
 ('2012-10-24 13', 4, 0.0, 8.0),
 ('2012-10-24 14', 4, 0.0, 6.0),
 ('2012-10-24 15', 4, 0.0, 7.0),
 ('2012-10-24 16', 2, 0.0, 8.0),
 ('2012-10-24 17', 5, 0.0, 5.0),
 ('2012-10-24 18', 4, 0.0, 7.0),
 ('2012-10-24 19', 5, 0.0, 8.0),
 ('2012-10-24 20', 14, 0.0, 0.0),
 ('2012-10-24 21', 14, 0.0, 3.0),
 ('2012-10-24 22', 10, 0.0, 5.0),
 ('2012-10-24 23', 3, 0.0, 0.0),
 ('2012-10-25 00', 10, 0.0, 6.0),
 ('2012-10-25 01', 1, 0.0, 3.0),
 ('2012-10-25 02', 8, 0.0, 3.0),
 ('2012-10-25 03', 0, 0.0, 6.0),
 ('2012-10-25 04', 1, 0.0, 6.0),
 ('2012-10-25 05', 2, 0.0, 0.0),
 ('2012-10-25 06', 4, 0.0, 5.0),
 ('2012-10-25 07', 3, 0.0, 6.0),
 ('2012-10-25 08', 6, 0.0, 5.0),
 ('2012-10-25 09', 2, 0.0, 3.0),
 ('2012-10-25 10', 4, 0.0, 6.0),
 ('2012-10-25 11', 5, 0.0, 0.0),
 ('2012-10-25 12', 7, 0.0, 6.0),
 ('2012-10-25 13', 3, 0.0, 0.0),
 ('2012-10-25 14', 3, 0.0, 5.0),
 ('2012-10-25 15', 5, 0.0, 5.0),
 ('2012-10-25 16', 1, 0.0, 0.0),
 ('2012-10-25 17', 4, 0.0, 3.0),
 ('2012-10-25 18', 4, 0.0, 0.0),
 ('2012-10-25 19', 1, 0.0, 0.0),
 ('2012-10-25 20', 13, 0.0, 3.0),
 ('2012-10-25 21', 8, 0.0, 3.0),
 ('2012-10-25 22', 6, 0.0, 3.0),
 ('2012-10-25 23', 3, 0.0, 0.0),
 ('2012-10-26 00', 6, 0.0, 0.0),
 ('2012-10-26 01', 1, 0.0, 0.0),
 ('2012-10-26 02', 3, 0.0, 0.0),
 ('2012-10-26 03', 2, 0.0, 3.0),
 ('2012-10-26 04', 2, 0.0, 0.0),
 ('2012-10-26 05', 1, 0.0, 0.0),
 ('2012-10-26 06', 0, 0.0, 0.0),
 ('2012-10-26 07', 4, 0.0, 3.0),
 ('2012-10-26 08', 0, 0.0, 3.0),
 ('2012-10-26 09', 7, 0.0, 3.0),
 ('2012-10-26 10', 3, 0.0, 3.0),
 ('2012-10-26 11', 4, 0.0, 3.0),
 ('2012-10-26 12', 2, 0.0, 0.0),
 ('2012-10-26 13', 7, 0.0, 3.0),
 ('2012-10-26 14', 5, 0.0, 3.0),
 ('2012-10-26 15', 3, 0.0, 0.0),
 ('2012-10-26 16', 2, 0.0, 0.0),
 ('2012-10-26 17', 3, 0.0, 0.0),
 ('2012-10-26 18', 3, 0.0, 0.0),
 ('2012-10-26 19', 5, 0.0, 0.0),
 ('2012-10-26 20', 10, 0.0, 3.0),
 ('2012-10-26 21', 4, 0.0, 3.0),
 ('2012-10-26 22', 8, 0.0, 0.0),
 ('2012-10-26 23', 4, 0.0, 0.0),
 ('2012-10-27 00', 6, 0.0, 3.0),
 ('2012-10-27 01', 3, 0.0, 0.0),
 ('2012-10-27 02', 6, 0.0, 3.0),
 ('2012-10-27 03', 4, 0.0, 0.0),
 ('2012-10-27 04', 0, 0.0, 6.0),
 ('2012-10-27 05', 2, 0.0, 6.0),
 ('2012-10-27 06', 1, 0.0, 6.0),
 ('2012-10-27 07', 2, 0.0, 5.0),
 ('2012-10-27 08', 0, 0.0, 5.0),
 ('2012-10-27 09', 6, 0.0, 6.0),
 ('2012-10-27 10', 4, 0.0, 7.0),
 ('2012-10-27 11', 4, 0.0, 5.0),
 ('2012-10-27 12', 5, 0.0, 8.0),
 ('2012-10-27 13', 2, 0.0, 8.0),
 ('2012-10-27 14', 3, 0.0, 10.0),
 ('2012-10-27 15', 3, 0.0, 10.0),
 ('2012-10-27 16', 8, 0.0, 7.0),
 ('2012-10-27 17', 10, 0.0, 7.0),
 ('2012-10-27 18', 7, 0.0, 7.0),
 ('2012-10-27 19', 18, 0.0, 8.0),
 ('2012-10-27 20', 9, 0.0, 7.0),
 ('2012-10-27 21', 6, 0.0, 9.0),
 ('2012-10-27 22', 7, 0.0, 9.0),
 ('2012-10-27 23', 8, 0.0, 8.0),
 ('2012-10-28 00', 6, 0.0, 11.0),
 ('2012-10-28 01', 8, 0.0, 8.0),
 ('2012-10-28 02', 3, 0.0, 8.0),
 ('2012-10-28 03', 3, 0.0, 9.0),
 ('2012-10-28 04', 4, 0.0, 10.0),
 ('2012-10-28 05', 1, 0.0, 11.0),
 ('2012-10-28 06', 0, 0.0, 10.0),
 ('2012-10-28 07', 2, 0.0, 11.0),
 ('2012-10-28 08', 1, 0.0, 11.0),
 ('2012-10-28 09', 4, 0.0, 11.0),
 ('2012-10-28 10', 2, 0.0, 10.0),
 ('2012-10-28 11', 5, 0.0, 8.0),
 ('2012-10-28 12', 2, 0.0, 7.0),
 ('2012-10-28 13', 3, 0.0, 13.0),
 ('2012-10-28 14', 5, 0.0, 13.0),
 ('2012-10-28 15', 6, 0.0, 13.0),
 ('2012-10-28 16', 4, 0.0, 16.0),
 ('2012-10-28 17', 4, 0.0, 11.0),
 ('2012-10-28 18', 5, 0.0, 15.0),
 ('2012-10-28 19', 3, 0.0, 14.0),
 ('2012-10-28 20', 4, 0.0, 16.0),
 ('2012-10-28 21', 3, 0.0, 14.0),
 ('2012-10-28 22', 3, 0.0, 16.0),
 ('2012-10-28 23', 1, 0.0, 14.0),
 ('2012-10-29 00', 1, 0.0, 16.0),
 ('2012-10-29 01', 0, 0.0, 11.0),
 ('2012-10-29 02', 1, 0.0, 13.0),
 ('2012-10-29 03', 0, 0.0, 17.0),
 ('2012-10-29 04', 1, 0.0, 15.0),
 ('2012-10-29 05', 0, 0.0, 15.0),
 ('2012-10-29 06', 0, 0.02, 16.0),
 ('2012-10-29 07', 1, 0.02, 17.0),
 ('2012-10-29 08', 0, 0.0, 21.0),
 ('2012-10-29 09', 1, 0.0, 16.0),
 ('2012-10-29 10', 0, 0.0, 0.0),
 ('2012-10-29 11', 12, 0.0, 21.0),
 ('2012-10-29 12', 20, 0.02, 15.0),
 ('2012-10-29 13', 0, 0.02, 24.0),
 ('2012-10-29 14', 8, 0.03, 23.0),
 ('2012-10-29 15', 4, 0.07, 26.0),
 ('2012-10-29 16', 0, 0.1, 23.0),
 ('2012-10-29 17', 4, 0.04, 29.0),
 ('2012-10-29 18', 6, 0.02, 21.0),
 ('2012-10-29 19', 0, 0.01, 25.0),
 ('2012-10-29 20', 0, 0.0, 17.0),
 ('2012-10-29 21', 1, 0.0, 15.0),
 ('2012-10-29 22', 0, 0.02, 9.0),
 ('2012-10-29 23', 0, 0.03, 7.0),
 ('2012-10-30 00', 2, 0.03, 13.0),
 ('2012-10-30 01', 0, 0.0, 13.0),
 ('2012-10-30 02', 0, 0.03, 9.0),
 ('2012-10-30 03', 0, 0.04, 17.0),
 ('2012-10-30 04', 1, 0.0, 9.0),
 ('2012-10-30 05', 0, 0.01, 7.0),
 ('2012-10-30 06', 0, 0.01, 7.0),
 ('2012-10-30 07', 0, 0.0, 10.0),
 ('2012-10-30 08', 0, 0.01, 11.0),
 ('2012-10-30 09', 8, 0.01, 15.0),
 ('2012-10-30 10', 12, 0.02, 8.0),
 ('2012-10-30 11', 3, 0.0, 7.0),
 ('2012-10-30 12', 4, 0.0, 9.0),
 ('2012-10-30 13', 12, 0.0, 7.0),
 ('2012-10-30 14', 3, 0.0, 0.0),
 ('2012-10-30 15', 3, 0.0, 0.0),
 ('2012-10-30 16', 3, 0.01, 3.0),
 ('2012-10-30 17', 6, 0.0, 6.0),
 ('2012-10-30 18', 2, 0.0, 5.0),
 ('2012-10-30 19', 4, 0.0, 3.0),
 ('2012-10-30 20', 4, 0.0, 0.0),
 ('2012-10-30 21', 2, 0.0, 5.0),
 ('2012-10-30 22', 3, 0.0, 7.0),
 ('2012-10-30 23', 4, 0.0, 5.0)]

In [46]:
write_query_to_file(QUERY_6, "hurricane_sandy.sql")

## Part 4: Visualizing the Data

_A checklist of requirements to keep you on track. Remove this whole cell before submitting the project. The order of these tasks aren't necessarily the order in which they need to be done. It's okay to do them in an order that makes sense to you._

* [ ] Create an appropriate visualization for the first query/question in part 3
* [ ] Create a visualization that shows the average distance traveled per month (regardless of year - so group by each month). Include the 90% confidence interval around the mean in the visualization
* [ ] Define three lat/long coordinate boxes around the three major New York airports: LGA, JFK, and EWR (you can use bboxfinder to help). Create a visualization that compares what day of the week was most popular for drop offs for each airport.
* [ ] Create a heatmap of all hired trips over a map of the area. Consider using KeplerGL or another library that helps generate geospatial visualizations.
* [ ] Create a scatter plot that compares tip amount versus distance.
* [ ] Create another scatter plot that compares tip amount versus precipitation amount.

_Be sure these cells are executed so that the visualizations are rendered when the notebook is submitted._

### Visualization N

_**TODO:** Write some prose that tells the reader what you're about to do here._

_Repeat for each visualization._

_The example below makes use of the `matplotlib` library. There are other libraries, including `pandas` built-in plotting library, kepler for geospatial data representation, `seaborn`, and others._

In [ ]:
# use a more descriptive name for your function
def plot_visual_n(dataframe):
    figure, axes = plt.subplots(figsize=(20, 10))
    
    values = "..."  # use the dataframe to pull out values needed to plot
    
    # you may want to use matplotlib to plot your visualizations;
    # there are also many other plot types (other 
    # than axes.plot) you can use
    axes.plot(values, "...")
    # there are other methods to use to label your axes, to style 
    # and set up axes labels, etc
    axes.set_title("Some Descriptive Title")
    
    plt.show()

In [ ]:
def get_data_for_visual_n():
    # Query SQL database for the data needed.
    # You can put the data queried into a pandas dataframe, if you wish
    raise NotImplemented()

In [ ]:
some_dataframe = get_data_for_visual_n()
plot_visual_n(some_dataframe)